<div class="container">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Sr No</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productList;let i=index">
            <th>
               <a class="mx-2" (click)="editProductData(i)">Edit</a>
               <a class="mx-2">Delete</a>
            </th>
            <td>{{i+1}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.price}}</td>
          </tr>
        </tbody>
      </table>

      <div class="row mt-5 w-50">
        <app-create-product [productObj]="selectedProductObj" (emitProductData)="getProductData($event)"></app-create-product>
      </div>
</div>


